{% extends 'basedb.html.twig' %}

{% block title %}Modifier Planning{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
    <style>
        /* Utilisez les mêmes styles que dans index.html.twig */
      .table-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white; /* Change l'arrière-plan en blanc */
            color: #008080; /* Change la couleur du texte en bleu pétrole */
            padding: 20px;
            border-radius: 10px;
            width: calc(100% - 300px);
        }

        .table-container table {
            margin-top: 20px;
            border-collapse: collapse;
            width: 100%;
        }

        .table-container th,
        .table-container td {
            border: 1px solid black; /* Change la couleur de la bordure en noir */
            padding: 15px;
            text-align: left;
            width: 12.5%;
            background-color: white;
        }

        .table-container th {
            color: white; /* Change la couleur du texte des en-têtes de tableau en blanc */
            background-color: #004f4f; /* Change la couleur de fond des en-têtes de tableau en bleu pétrole */}
        

        .table-container tr:nth-child(even) {
            background-color: #444;
        }

        .btn-info,
        .btn-warning {
            padding: 10px 20px;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s;
            color: white;
            margin-right: 10px;
        }

       .btn-info {
            background-color: blue; /* Bouton bleu */
            border: 1px solid #888;
        }

        .btn-warning {
            background-color: red; /* Bouton rouge */
            border: 1px solid #333;
        }

        .btn:hover {
            background-color: #ddd;
        }

        
        .btn-create {
            background-color: green; /* Bouton vert */
            border: 1px solid #292b2c;
            margin-top: 20px;
        }
        .btn-search {
            background-color: #004f4f; /* Bouton de recherche en bleu pétrole foncé */
            color: white; /* Texte du bouton en blanc */
            border: none; /* Supprime la bordure du bouton */
            padding: 10px 20px; /* Ajoute un peu d'espace autour du texte du bouton */
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }
         .search-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;}
    </style>
{% endblock %}

{% block body %}
   <div class="table-container content-wrapper" style="margin-left: 300px; padding: 20px; margin-top: 50px;">
        <h1 class="text-center">Modifier Planning</h1>
        {{ include('planning/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        <div class="btn-group">
            <a href="{{ path('app_planning_index') }}" class="btn btn-info btn-small">Retour à la liste</a>
            {{ include('planning/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
