{% extends 'basedb.html.twig' %}

{% block title %}RendezVous{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        /* Utilisez les mêmes styles que dans index.html.twig */
        .table-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #333;
            color: white;
            padding: 20px;
            border-radius: 10px;
        }

        .table-container table {
            margin-top: 20px;
            border-collapse: collapse;
            width: 100%;
        }

        .table-container th,
        .table-container td {
            border: 1px solid #888;
            padding: 15px;
            text-align: left;
        }

        .table-container th {
            background-color: #555;
        }

        .table-container tr:nth-child(even) {
            background-color: #444;
        }

        .btn-info,
        .btn-warning {
            padding: 10px 20px;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s;
            color: white;
            margin-right: 10px;
        }

        .btn-info {
            background-color: grey;
            border: 1px solid #888;
        }

        .btn-warning {
            background-color: black;
            border: 1px solid #333;
        }

        .btn:hover {
            background-color: #ddd;
        }

        .btn-create {
            background-color: #333;
            border: 1px solid #292b2c;
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block body %}
  <div class="table-container content-wrapper" style="margin-left: 300px; padding: 20px; margin-top: 50px;">
        <h1 style="font-size: 2em; margin-bottom: 20px; color: white;">RendezVous</h1>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>IdRdv</th>
                    <td>{{ rendez_vou.idRdv }}</td>
                </tr>
                <tr>
                    <th>Coach</th>
                    <td>{{ rendez_vou.idCoach }}</td>
                </tr>
                <tr>
                    <th>Client</th>
                    <td>{{ rendez_vou.idclient }}</td>
                </tr>

                <tr>
                    <th>DateRdv</th>
                   <td>{{ rendez_vou.dateRdv|date('Y-m-d ') }}</td>
                </tr>
                <tr>
                    <th>TimeRdv</th>
                    <td>{{ rendez_vou.timeRdv }}</td>
                </tr>
                 <tr>
                    <th>Planning</th>
                    <td>{{ rendez_vou.planning }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_rendez_vous_index') }}" class="btn btn-info btn-small">Retour à la liste</a>
        <a href="{{ path('app_rendez_vous_edit', {'idRdv': rendez_vou.idRdv}) }}" class="btn btn-warning">Modifier</a>
        {{ include('rendez_vous/_delete_form.html.twig') }}
    </div>
{% endblock %}
